
.mekan{
    font-size: 9vw;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../assets/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text-m{
    width: 40vw;
    color: #fff;
    margin-left: 3vw;
    transform: translateY(-200%);
}

@media screen and (max-width:375px){
    .text-m{
        transform: translateY(-180%);
    }
}
@media screen and (max-width:525px){
    .mekan{
        font-size: 9vw;
        font-weight: 700;
        letter-spacing: 0.3rem;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        background: url(../assets/back.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 35s linear infinite;
        background-size:900px;
    }
}