.my-video{
    width: 50rem;
    object-fit: cover;
    
}

.video-container{
    display: flex;
    justify-content: center;
    width: 40rem;
}

.video-container-main{
    display: flex;
    justify-content: center;
    height: 25rem;
    width: 100vw;
    margin-bottom: 12rem;
}